@font-face {
    font-family: 'exile-regular';
    src: url('fonts/exile-regular.ttf');
}

body {
    margin: 0;
    background-image: url('img/desert-background/desert-background.png');
    height: 100dvh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'exile-regular', Arial, Helvetica, sans-serif;
}

.play-container {
    position: absolute;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.spinner-overlay {
    display: none;
    height: 480px;
    width: 720px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 221, 0);
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5);
    margin: 0 0 50px 0;
}

.menu-screens {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    height: 480px;
    width: 720px;
    background-color: black;
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}


.start-buttons {
    position: absolute;
    display: flex;
    gap: 50px;
    top: 10%;
}

.start-buttons button {
    background-color: rgb(255, 221, 0);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

.start-buttons button:hover {
    background-color: rgb(255, 162, 0);
    transition: 150ms ease-in-out;
    transform: scale(1.2);
    box-shadow: 1px 2px 6px 2px rgba(226, 195, 95, 0.623);
}

.canvas-container {
    position: relative;
    max-width: 720px;
    width: 100%;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
}

.settings-container {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.play-settings-container {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    transform: scale(1);
    margin-bottom: 10px;
}

button:hover {
    transform: scale(1.2);
}

svg {
    height: 30px;
    fill: orange;
    background: transparent;
}

.no-mute {
    background-image: url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#e3e3e3"><path d="M136-80 400-344H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z"/></svg>');
}

.mute-button {
    position: absolute;
    top: 15px;
    left: 50%;
}

.lost-game {
    width: 720px;
    height: 480px;
    background-color: rgb(233, 218, 169);
    background-image: url('img/You won, you lost/Game Over.png');
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.win-game {
    width: 720px;
    height: 480px;
    background-color: rgb(233, 218, 169);
    background-image: url('img/You won, you lost/You Win A.png');
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.close-button-container {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: start;
    justify-content: end;
}

.close-button {
    margin: 20px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: antiquewhite;
}

.close-button:hover {
    box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}

.game-over-img {
    width: 70%;
    position: relative;
}

.restart-button {
    margin-bottom: 20px;
    font-size: 30px;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
}

.restart-button:hover {
    box-shadow: inset 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
}

.imprint-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(156, 35, 51, 0.199);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border-radius: 10px;
    overflow: auto;
}

.imprint-container h2 {
    margin-top: 10px;
}

.imprint-container p {
    margin: 5px;
}

.imprint-container a {
    text-decoration: none;
    color: rgb(255, 162, 0);
}

.imprint-container a:hover {
    color: rgb(255, 221, 0);
}

.imprint-container button {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.imprint-container button:hover {
    color: rgb(53, 46, 10);
}

.layout-container {
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(156, 35, 51, 0.199);
    border-radius: 10px;
}

.instructions-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions-header h2 {
    text-shadow: 1px 1px 1px rgb(255, 162, 0);
}

.instructions-header button {
    position: absolute;
    margin-left: 80%;
    font-size: 20px;
    margin-bottom: 0;
}

.instructions-header button:hover {
    color: rgb(255, 162, 0);
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.layout-container img {
    width: 90%;
}

.description-container {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    margin: 0;
    margin-top: 2px;
}

#mobile {
    display: none;
}

.mobile-container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    width: 100%;
    height: 60px;
}

.buttons-container {
    display: flex;
    gap: 60px;
}

.buttons-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border-radius: 50px;
}

.buttons-container button svg {
    fill: black;
}

.buttons-container button:hover {
    transform: scale(1)
}

.arrow {
    font-size: 30px;
    font-weight: 700;
}

.jump-img {
    width: 30px;
    height: 30px;
}

.bottle-img {
    height: 30px;
}

.rotation-notice {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: fantasy;
    font-size: 32px;
}

.pop-up {
    display: none;
    position: fixed;
    text-align: center;
    font-size: 20px;
    height: 150px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(212, 66, 73);
    border-radius: 10px;
}

.pop-up p {
    color: rgb(255, 221, 0);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.pop-up button {
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.pop-up button:hover {
    color: rgb(182, 162, 35);
}

@media only screen and (max-width: 720px) {
    .imprint {
        display: block;
        margin-bottom: 10px;
    }

    h1 {
        display: none;
    }

    .menu-screens {
        height: 100dvh;
        width: 100%;
    }

    .spinner-overlay {
        height: 100dvh;
        width: 100%;
    }

    canvas {
        height: 100dvh;
        width: 100%;
    }

    #mobile {
        width: 100%;
        display: flex;
    }

    .layout-container {
        height: 100dvh;
        width: 100%;
        padding: 0;
    }

    .lost-game {
        height: 100dvh;
        width: 100%;
        background-size: 400px;
    }

    .win-game {
        height: 100dvh;
        width: 100%;
        background-size: 500px;
    }
}

@media only screen and (max-height: 600px) {
    .imprint {
        display: block;
        margin-bottom: 10px;
    }

    h1 {
        display: none;
    }

    .menu-screens {
        height: 100dvh;
    }

    .spinner-overlay {
        height: 100dvh;
        width: 100%;
    }

    canvas {
        height: 100dvh;
        width: 100%;
    }

    #mobile {
        width: 100%;
        display: flex;
    }

    .layout-container {
        height: 100dvh;
        width: 100%;
        padding: 0;
    }

    .layout-container img {
        width: 70%;
    }

    .lost-game {
        height: 100dvh;
        width: 100%;
        background-size: 400px;
    }

    .win-game {
        height: 100dvh;
        width: 100%;
        background-size: 500px;
    }
}

@media only screen and (orientation: portrait) {
    .rotation-notice {
        display: flex;
    }

    #mobile {
        display: none !important;
    }
}

@media only screen and (orientation: landscape) {
    #rotate-notice {
        display: none;
    }
}