@font-face {
    font-family: 'exile-regular';
    src: url('fonts/exile-regular.ttf');
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('img/desert-background/desert-background.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'exile-regular', Arial, Helvetica, sans-serif;
}
canvas{
    background-color: black;
}